*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins,'sans-serif';
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: rgb(184, 176, 176)
}

.container i {
    margin-left: 5px;
}


.snackbar{
    color: aliceblue;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.color {
    background-color:  rgb(53, 52, 52);
    display: flex;
    align-items: center;
    justify-content: center;

}

.msg{
    color: rgb(148, 65, 224);
    font-size: 18px;
    padding-right: 6px;
    border-radius: 0 5px 5px 0;
    
}

#icon{
    color: aliceblue;
    
}